@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #72be43;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
}
